html { 	font-size: 62.5%%; }
body {
	background: -webkit-radial-gradient(#eee 15%, transparent), -webkit-radial-gradient(white 90%, transparent); /* web-kit only */
	background-image: -moz-radial-gradient(#eee 15%, transparent), -moz-radial-gradient(white 90%, transparent); /* FF only, radials don't appear to work with shortened background property declaration */
	background-size: 4px 4px, 4px 4px;
	background-color: #ffffff;
	font-family: arial, serif;
	font-size: 14px; font-size: 1.4rem;
	line-height: 16px; line-height: 1.6rem;
	/* browser support */
}
header { 
	background: #fff; 
	height: 25px;
	padding: 20px;
	position: relative;
	border-bottom: 1px dotted #ddd;
	background-image: -webkit-linear-gradient(#f3f3f3, #fff);
}
header > h1 a { 
	color: #000; 
	text-decoration: none;
}
header > h1 a:hover { color: #eee; }
.floating-block { 
	position: absolute;
	top: 65px;
	background: #fff;
	height: 150px;
	width: 150px;
	box-shadow: 2px 8px 12px 0px rgba(0,0,0,0.15); /*h-shadow v-shadow blur spread color inset*/
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	overflow: hidden;
}
.floating-block img { margin-left: -40px; }
.floating-menu { float: right; }
.floating-menu li { 
	display: inline; 
	margin-right: 10px; 
}
section { 
	background-color: #fff;
	padding: 20px;
	box-shadow: 2px 8px 12px 0px rgba(0,0,0,0.15);
		-webkit-box-shadow: 2px 8px 12px 0px rgba(0,0,0,0.15);
	min-width: 250px;
	margin-left: 175px;
}
section > section {
	box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0;
}

section > section > p { padding: 10px 0; }

section.post { 
	box-shadow: none;
	color: #351351;
}
/**
	FONTS
**/
.ff-oxy { font-family: 'Oxygen', sans-serif;}
.ff-nixy { font-family: 'Nixie One', sans-serif;}
h1 { font-size: 2.1em; font-size: 2.1rem; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h1 > span { font-size: .5em; }
/**
	LINKS
**/
a.highest { font-size: 14px; font-size: 1.4rem; }
a.median { font-size: 12px; font-size: 1.2rem;}
a.lowest { font-size: 10px; font-size: 1.0rem;}

.rotation { position: relative; }
.rotation span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #6B969D;
	text-indent: 10px;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-moz-animation: rotateWord 18s linear infinite 0s;
	-o-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rotation span:nth-child(2) {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	color: #6B889D;
}
.rotation span:nth-child(3) {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	color: #6B739D;
}
.rotation span:nth-child(4) {
	-webkit-animation-delay: 9s;
	-moz-animation-delay: 9s;
	-o-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
	color: #7A6B9D;
}
.rotation span:nth-child(5) {
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
	color: #7A6B9D;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
	5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
	20% { opacity: 0; -moz-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}