<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/zero.css">
		<link rel="stylesheet" type="text/css" href="css/core.css">
		<link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<h1 class="ff-oxy"><a href="http://natalieolivo.github.com">Nerdery <span>with</span> Natalie</a></h1>
			<div class="floating-block"><img src="imgs/girl-with-pixels.jpg"></div>
			<ul class="floating-menu">
				<li><a href="whoami.html" class="ff-oxy highest"><span>Who am I?</span></a></li>
				<li><a href="work-history.html" class="ff-oxy highest"><span>Work History</span></a></li>
				<li><a href="/LightGuide" class="ff-oxy highest"><span>Latest Projects</span></a></li>
			</ul>
		</header>
		<section class="content">
			{{ content }}
		</section>
	</body>
</html>